/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,matrix_transform = &five_column_transform; };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
  &kp Q  &kp W  &kp F             &kp P        &kp B                &kp J                     &kp L        &kp U                &kp Y       &kp SQT
  &kp A  &kp R  &kp S             &kp T        &kp G                &kp M                     &kp N        &kp E                &kp I       &kp O
  &kp Z  &kp X  &kp C             &kp D        &kp V                &kp K                     &kp H        &kp COMMA            &kp PERIOD  &kp SLASH
                &mt LCTRL DELETE  &lt 2 ENTER  &mt LEFT_META TAB    &mt LEFT_SHIFT BACKSPACE  &lt 1 SPACE  &mt LEFT_ALT ESCAPE
            >;
        };

        sym_layer {
            bindings = <
  &none  &kp GRAVE  &kp UP_ARROW    &kp BACKSLASH  &none     &none   &none             &none              &none          &none
  &none  &kp LEFT   &kp DOWN_ARROW  &kp RIGHT      &none     &none   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SEMICOLON  &none
  &none  &none      &none           &none          &none     &none   &none             &none              &none          &none
                    &trans          &trans         &trans    &trans  &trans            &trans
            >;
        };

        num_layer {
            bindings = <
  &kp F1  &kp F2        &kp F3        &kp F4           &kp F5          &kp F6  &kp F7        &kp F8     &mt F11 F9  &mt F12 F10
  &kp N0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3     &kp NUMBER_4    &kp N5  &kp NUMBER_6  &kp N7     &kp N8      &kp N9
  &none   &kp C_VOL_DN  &kp K_MUTE    &kp C_VOLUME_UP  &none           &none   &kp MINUS     &kp EQUAL  &none       &none
                        &trans        &trans           &trans          &trans  &trans        &trans
            >;
        };

        del_layer {
            bindings = <
  &trans  &trans  &trans  &trans      &trans    &trans  &trans         &trans  &trans  &trans
  &trans  &trans  &trans  &kp DELETE  &trans    &trans  &kp BACKSPACE  &trans  &trans  &trans
  &trans  &trans  &trans  &trans      &trans    &trans  &trans         &trans  &trans  &trans
                  &trans  &trans      &trans    &trans  &trans         &trans
            >;
        };
    };
};
